/*
:root {


    --united-nations-blue: hsl(214, 56%, 58%);
    --bright-navy-blue: hsl(214, 57%, 51%);
    --spanish-gray: hsl(0, 0%, 60%);
    --black-coral: hsl(225, 8%, 42%);
    --oxford-blue: hsl(208, 97%, 12%);
    --yale-blue: hsl(214, 72%, 33%);
    --blue-ncs: hsl(197, 100%, 36%);
    --gunmetal: hsl(206, 34%, 20%);
    --gainsboro: hsl(0, 0%, 88%bright-navy-blue: hsl(214, 57%, 51%));
    --cultured: hsl(0, 0%, 98%);
    --hsl: hsl(204, 44%, 31%);
    --white: hsl(210, 11%, 96%);
    --light-black: hsl(0, 1%, 33%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 25%);
    --jet: hsl(0, 0%, 20%);
  */
    /**
     * typography
     */
  
    /**
     * transition
   
  
  }
  */
  
  
  
  
  /*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  
  label,
  button,
  ion-icon { display: block; }
  
 
  button {
    background: none;
    border: none;
    font: inherit;
  }
  
  button { cursor: pointer; }
  

  
  ion-icon { pointer-events: none; }
  
  html {
    
    scroll-behavior: smooth;
  }
  
 
  
  
  
  
  
  /*-----------------------------------*\
   * #REUSED STYLE
  \*-----------------------------------*/
  /*
  .container { padding-inline: 15px; }
  
  .btn {
    color: var(--white);
    text-transform: uppercase;
    font-size: var(--fs-5);
    border-radius: 100px;
    padding: var(--padding, 8px 18px);
    border: var(--border-width, 2px) solid transparent;
    transition: var(--transition);
  }
  
  .btn-primary {
    background: var(--bright-navy-blue);
    border-color: var(--bright-navy-blue);
  }
  
  .btn-primary:is(:hover, :focus) {
    background: var(--yale-blue);
    border-color: var(--yale-blue);
  }
  
  .btn-secondary { border-color: var(--white); }
  
  .btn-secondary:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.1); }
  
  .h1,
  .h2,
  .h3 {
    font-weight: var(--fw-800);
    font-family: var(--ff-montserrat);
    text-transform: uppercase;
  }
  
  .h1 {
    color: var(--white);
    font-size: var(--fs-1);
  }
  
  .h2,
  .h3 { color: var(--gunmetal); }
  
  .h2 { font-size: var(--fs-2); }
  
  .h3 {
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
  }
  
  .section-subtitle {
    color: var(--bright-navy-blue);
    font-size: var(--fs-5);
    text-transform: uppercase;
    font-family: var(--ff-montserrat);
    margin-bottom: 8px;
  }
  
  .section-title { margin-bottom: 15px; }
  
  .section-text {
    color: var(--black-coral);
    margin-bottom: 30px;
  }
  
  .card-text {
    color: var(--black-coral);
    font-size: var(--fs-5);
  }
  
  
  
  */
  
  /*-----------------------------------*\
   * #HEADER
  \*-----------------------------------*/
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 61px;
    z-index: 4;
  }
  
  .header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: var(--transition);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    padding-block: 15px;
    z-index: 1;
   
  }
  
  .header.active .header-top {
    position: fixed;
    background-color: hsl(206, 34%, 20%);
  }
 
  .header-top .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-start;
    align-items: center;
  }
  
  .helpline-box .wrapper { display: none; }
  
  .helpline-box .icon-box {
   
    padding: 6px;
    border-radius: 50%;
    color: white;
  }
  
  .helpline-box .icon-box ion-icon { --ionicon-stroke-width: 40px; }
  
  .header_logo{
    height: 80px;
    width: 80px;
 border-radius: 3rem;
 margin-left: 9rem;
 
  }  
 
  .logo-title {
    
    font-size: 2rem;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif;
    color: rgb(211, 206, 219);
    border: solid rgb(14, 15, 15);
    border-radius: 2.2rem;
    padding-left: 1rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-right: 1rem;
    background-color: black;
  }
  
  .username{
  
    font-size: 1.5rem;
    color: rgb(243, 239, 239);
  }
  .user_name:hover{
    text-decoration: none;
  }
  #usericone{
    margin-left: 1rem;
    color: black;
    border: solid rgb(21, 55, 227);
    padding: .4rem;
    border-radius: 3rem;
    background-color: aliceblue;
  }
  .header-bottom { border-bottom: 1px solid hsla(0, 0%, 100%, 0.1); }
  
  .header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
    margin-top: 1.5rem;
  }
 
  .contain-box{
    border-radius: 2rem;
    background-color: rgb(200, 224, 246);
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 100%;
    max-width: 300px;
    height: 100%;
    background: firebrick;
    visibility: hidden;
    pointer-events: none;
    transition: 0.15s ease-in;
    z-index: 3;
  }
  
  .navbar.active {
    right: 0;
    visibility: visible;
    pointer-events: all;
    transition: 0.25s ease-out;
  }
  .nav-close-btn ion-icon { --ionicon-stroke-width: 80px; }

.navbar-list { border-top: 1px solid hsla(0, 0%, 0%, 0.1); 
    margin-left: 3rem;
}

.navbar-link {
  padding: 15px 20px;
  color: black;
  font-weight: var(--fw-500);
  font-size: 1.3rem;
  font-style: italic;
  transition: var(--transition);
  text-transform: capitalize;
  font-family: "Barlow Condensed";
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  
}

.navbar-link:hover{
    color: hsl(214, 57%, 51%);
}
.navbar-link:focus{
    color: hsl(214, 57%, 51%);
}
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15px;
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: var(--black);
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    transition: var(--transition);
  }
  
  .overlay.active {
    opacity: 0.7;
    pointer-events: all;
  }
  
  
  /*-----------------------------------*\
   * #HERO
  \*-----------------------------------*/
  
  .hero {
    background-image: url("img/hero-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsla(0, 0%, 0%, 0.7);
    background-blend-mode: overlay;
    display: grid;
    place-items: center;
    min-height: 450px;
    text-align: center;
    margin-bottom: 1.4rem;
    padding-top: 125px;
  }

.span{
  color: #f4d8d8;
  background-color:  #1d5d40;
  padding: .3rem;
  padding-right: .5rem;
  padding-left: .6rem;
  border-radius: .7rem;
  font-family: monospace;

}

.heading{
padding: 1rem;
margin-top: 7%;
text-align: center;
}


/*@import url("https://fonts.googleapis.com/css2?display=swap");
@import url("https://fonts.googleapis.com/css2?display=swap");
@import url("https://fonts.googleapis.com/css2?display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

  body,
html {
  margin: 0;
  padding: 0;
  display: grid;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #fde65e;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #fde02f;
  }

  nav{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 90px;
    background-color: #fff;
    box-shadow: 3px 3px 10px lightslategray;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10000;
    margin-right: 1rem;
    padding: 1rem;
    
  }
  
  .logo {
    flex: 1;
    font-size: 40px;
    margin-right: 25rem;
    font-family: "Barlow Condensed";
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
   border: solid black;
   background-color: #000;
   color: #d9f4fd;
   border-radius: 3rem;
   padding-left: .3rem;
   font-style: italic;
   text-align: center;

  }
  
  ul.menu {
   
    display: flex;
    flex-flow: row wrap;
    
  }
  
  .menu li {
    list-style-type: none;
    font-size: 21px;
    text-transform: capitalize;
    font-family: "Barlow Condensed";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;
    font-style: italic;
    margin-right: 1.1rem;
  }
  
  .menu li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    
  }
  
  .menu li a:hover {
    color: rgb(83, 145, 158);
  
  }

  .dropdown .btn{
    background-color: #000;
    border-radius: 1rem;
    margin-right:.7rem ;
    
      }
      .dropdown-menu .btn{
        background-color: rgb(14, 15, 15);
        color: #fff;
        margin-top: .6rem;
        margin-right: 1rem;
    }
    .dropdown-menu li a:hover {
        background-color: rgb(62, 124, 168);
        border: solid rgb(4, 4, 4);
        color: #000;
      }
    .username{
        height: 1px;
        width: 10px;
        margin-left: .2rem;
        color: #5e0303;
        font-size: 1.1rem;
    }
    #usericone{
       margin-left: 1rem;
       border: solid black;
       padding: .3rem;
       border-radius: 3rem;
       background-color: #92918f
    }*/
    .footer {
        /* background-image: url("https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293781/pine-tree_mq2sgp.jpg");*/
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         width: 100%;
         height: 480px;
         position: relative;
         display: flex;
         flex-flow: row wrap;
         justify-content: center;
         align-items: center;
         background-color:  rgb(42, 88, 125);
         border-radius: 1rem;
         margin-top: 1rem;
       }
      
     .container_footer{
        margin-left: 4rem;
     }
  
   .footer_logo{
    width: 100px;
    height: 100px;
    border-radius: 3rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
   }
.logo_title{
    
    font-size: 40px;
    margin-left: 5rem;
    font-family: Satisfy;

}

.footer_text{
   
font-size: 1.1rem;
}


.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    margin-left: 1rem;
 }
 
 .footer .box-container .box h3{
    color:white;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    margin-left: 5rem;
    margin-top: 1rem;
 }
 
 .footer .box-container .box a{
    color:rgb(188, 230, 244);
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
    display: block;
    margin-left: 7rem;
 }
 
 .footer .box-container .box a i{
    color:tomato;
    padding-right: .5rem;
    transition: .2s linear;
 }
 
 .footer .box-container .box a:hover i{
    padding-right: 2rem;
    text-decoration: none

 }
 .contact_box{
    margin-top: 2.5rem;
    margin-left: 3.7rem;
 }
 .contacr_info{
    margin-top: 2rem;
 }
 .footer .credit{
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: .1rem solid rgb(160, 158, 158);
    font-size: 1.1rem;
    color:white;
 }
 
 .footer .credit span{
    color:rgb(249, 250, 248);
 }
 .active{
    color: rgb(255, 255, 255)!important;
 }


.bg-img{
height: 380px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin-top: 2rem;
}

.section-title{
margin-top: 2rem;
color: #fff;
font-size: 2.6rem;
font-family: serif;

}
.section-text{
    margin-top: 2rem;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 3rem;
}
.callback-btn{display: flex;}

.round-btn{
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #13afd6;
    color: #f8f7f7;
    font-size: 1.1rem;
    margin-left: 12rem;
    
}

.callback-btn .more-btn{
    border: solid floralwhite;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    color: #f7f7f7;
    font-size: 1.1rem;
   
}
.callback-btn .more-btn:hover{
    background-color: #057c9a;
    color: #090909;
    text-decoration: none;
}
.callback-btn .round-btn:hover{
    background-color: #057c9a;
    color: #090909;
    text-decoration: none;
}
 .outline-btn {
    border: solid floralwhite;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    background-color: #5d9edf;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    color: #0e0d0d;
    font-size: 1.1rem;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:#5d9edf
}

.table{
    background-color: rgb(234, 234, 231);
    border-radius: 1rem;
}
.table tr:nth-child(even){
    background-color:rgb(195, 194, 194);
    }
.summary{
    margin-top: 5rem;
    margin-left: 2rem;
    border-radius:2rem;
    background-color: #d8dbde;
    padding: 2.2rem;
}
.bg-title{
    background-color: #709cc2;
    border-radius: 2rem;
    padding: .4rem;
    
}
.bg-title:hover{
    background-color: #82c5e2;
}
.view-book{
    color: #000;
    margin-left: 1rem;
}
.view-book:hover{
    color: #000;
    margin-left: 1rem;
    text-decoration: none;
  
}
.help{
    margin-top: 3rem;
    margin-left: 2rem;
    border-radius:2rem;
    background-color: #d8dbde;
    padding: 2.2rem;
}
#fontasom{
    margin-left: 7rem;
    padding-bottom: 1rem;
}

  
  /*-----------------------------------*\
   * #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for larger than 580px screen
   */
  
   @media (min-width: 580px) {
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 580px;
      margin-inline: auto;
    }
  
    .btn {
      --fs-5: 16px;
      --padding: 12px 30px;
    }
  
    section:not(.cta) :is(.section-subtitle, .section-title, .section-text) {
      text-align: center;
    }
  
    .section-text { margin-bottom: 40px; }
  
    .card-text { --fs-5: 15px; }
  
  
  
    /**
     * HEADER
     */
  
    .header { padding-top: 83px; }
  
    .helpline-box .icon-box { padding: 14px; }
  
    .header-top .logo img { max-width: unset; }
  
    .search-btn { font-size: 30px; }
  
    .nav-open-btn { font-size: 40px; }
  
    .header .btn {
      --fs-5: 14px;
      --padding: 6px 20px;
    }
  
  
  
    /**
     * HERO
     */
  
    .hero {
      min-height: 450px;
      padding-top: 85px;
    }
  
    .hero-text { --fs-5: 15px; }
  
    .btn-group { gap: 20px; }
  
  
  
    /**
     * TOUR SEARCH
     */
  
    .tour-search-form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: flex-end;
      gap: 15px;
    }
  
    .tour-search-form .input-wrapper { margin-bottom: 0; }
  
    .tour-search-form .input-field { padding: 16px 20px; }
  
    .tour-search .btn {
      grid-column: span 2;
      margin-top: 20px;
    }
  
  
  
    /**
     * POPULAR
     */
  
    .popular-card .card-content { right: auto; }
  
  
  
    /**
     * FOOTER
     */
  
    .footer .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  
    .footer-form { grid-column: span 2; }
  
    .footer-bottom { text-align: left; }
  
    .copyright { margin-bottom: 0; }
  
    .footer-bottom-list { justify-content: flex-end; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-5: 15px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 800px; }
  
    .section-text {
      max-width: 60ch;
      margin-inline: auto;
    }
  
  
  
    /**
     * HEADER
     */
  
    .helpline-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    }
  
    .helpline-box .wrapper {
      display: block;
      color: var(--white);
      font-size: var(--fs-6);
    }
  
    .social-list { gap: 10px; }
  
  
  
    /**
     * POPULAR
     */
  
    .popular-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin-bottom: 50px;
    }
  
    .popular-list > li:not(:last-child) { margin-bottom: 0; }
  
    .popular-card .card-content { right: 20px; }
  
  
  
    /**
     * PACKAGE
     */
  
    .package-list { margin-bottom: 50px; }
  
    .package-list > li:not(:last-child) { margin-bottom: 40px; }
  
    .package-card {
      display: grid;
      grid-template-columns: 1.3fr 1.5fr 1fr;
    }
  
    .package-card .card-banner { height: 100%; }
  
    .package-card .card-content { padding: 40px; }
  
    .package-card .card-price {
      display: grid;
      place-content: center;
    }
  
    .package-card .card-price .wrapper { margin-bottom: 15px; }
  
  
  
    /**
     * GALLERY
     */
  
    .gallery { padding-bottom: calc(var(--section-padding * 2)); }
  
    .gallery-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  
    .gallery-image { border-radius: var(--radius-25); }
  
  
  
    /**
     * CTA
     */
  
    .cta .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .cta-content { width: calc(100% - 225px); }
  
    .cta .section-text { margin-inline: 0; }
  
  
  
    /**
     * FOOTER
     */
  
    .form-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
    }
  
    .footer-form .input-field { margin-bottom: 0; }
  
    .footer-form .btn { width: max-content; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1050px; }
  
  
  
    /**
     * HEADER
     */
  
    .header.active .header-top {
      position: unset;
      background: unset;
    }
  
    .nav-open-btn,
    .navbar-top { display: none; }
  
    .header-bottom { border-bottom: none; }
  
    .header.active .header-bottom {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: var(--white);
      color: var(--onyx);
      box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.08);
      transition: var(--transition);
    }
  
    .header-bottom .container { padding-block: 0; }
  
    .header .navbar { all: unset; }
  
    .navbar-list {
      border-top: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .navbar-list li { border-bottom: none; }
  
    .navbar-link {
      color: var(--white);
      --fs-4: 16px;
      font-weight: unset;
      text-transform: uppercase;
      padding: 20px 15px;
    }
  
    .header.active .navbar-link { color: var(--onyx); }
  
    .header.active .navbar-link:is(:hover, :focus) { color: var(--bright-navy-blue); }
  
    .header.active .social-link {
      color: var(--onyx);
      border-color: hsla(0, 0%, 0%, 0.15);
    }
  
    .overlay { display: none; }
  
  
  
    /**
     * HERO
     */
  
    .hero .container { max-width: 750px; }
  
  
  
    /**
     * TOUR SEARCH
     */
  
    .tour-search-form { grid-template-columns: repeat(5, 1fr); }
  
    .tour-search .btn {
      --padding: 15px;
      grid-column: unset;
      margin-top: 0;
    }
  
  
  
    /**
     * POPULAR
     */
  
    .popular-list { grid-template-columns: repeat(3, 1fr); }
  
  
  
    /**
     * PACKAGE
     */
  
    .meta-box { --fs-8: 13px; }
  
    .meta-box > ion-icon { font-size: 15px; }
  
  
  
    /**
     * CTA 
     */
  
    .cta .section-title { max-width: 25ch; }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-top .container {
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }
  
    .footer-form { grid-column: unset; }
  
    .form-wrapper { flex-direction: column; }
  
    .footer-form .btn { width: 100%; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * spacing
       */
  
      --section-padding: 100px;
  
    }
  
    .header.active .header-bottom {
      position: fixed;
      background-color: hsl(200, 19%, 69%);
      box-shadow: 3px 3px 10px lightslategray;
    }
   
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1180px; }
  
  }