body{
    margin: 0px;
    padding: 0px;


}
.section1{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('img/pic10.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

#form {
    width: 38%;
    padding: 20px;
    background-color: beige;
    border-radius: 20px;
    

}

#form button {
    padding: 5px;
    margin-top: 4px;
    
    width: 25%;
    color: rgb(16, 16, 16);
    background-color: rgb(28, 93, 163);
    border: none;
    border-radius: 4px;
}

.container-fluid{
    padding-top: 8%;
}

.input-control {
    
    flex-direction: column;


    }

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	
	padding: 5px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 30px;
}
h4{
    text-align: center;
}