body{
    padding:50px;
}
.container{
    
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(154, 113, 113);
    margin-top: 5rem;
    border-radius:1rem ;
}
.form-group{
    margin-bottom:30px;
}