@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
  
}

body{
    background-color: #b6d6e8 ;
}

.container form{
  padding:25px;
  width:780px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border-radius: 1rem;
  margin-left: 21rem;
  background-color: #c5ebd5;
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 25px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-family: monospace;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}
#address-box{
    margin-top: 1rem;
}
.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: .6rem;
    padding-bottom: .9rem;
   
  font-size: 17px;
  background-color: #253d50;
  color:#fff;
  border-radius: 1rem;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: #1e5334;
}
.cotainer_box{
  margin-left: 27rem;
  margin-right: 27rem;
  background-color: #79807c;
  margin-bottom: .5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1rem;

}
#btn{
    margin-top: .2rem;
}
.container form .cancle-btn{
    background-color: #253d50;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: .6rem;
    padding-bottom: .9rem;
    margin-left: 7rem;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 1rem;
}
#cancle-btn{
    margin-top: .7rem;
    
}

.container form a:hover{
    text-decoration: none;
    color: #ffffff;
    background: #1e5334;
}
.summary{
    text-align: center;
    font-size: 1.8rem;
    font-family: monospace;
    text-transform: uppercase;
}
.box{
   text-align: center;
   font-size: 1.2rem;
}

.box input{
   margin-left: 1.2rem;
   text-transform: inline;
   text-align: center;
   
}
