body{
  background: rgb(127, 164, 188);
}
.container{
border-radius: 1rem;
border: solid bisque;

margin-left: 10rem;
margin-right: 10rem;
margin-top: 2rem;
background-color: rgb(156, 157, 176);
font-size: 1.2rem;

}
.container .Payment_Details_head{
font-size: 2rem;
font-family: sans-serif;
margin-bottom: 1rem;
text-align: center;
color: rgb(10, 46, 78);

}
.container p{
  text-align: justify;
padding-left: 24rem;
}
button{
  border-radius:1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: .7rem;
  padding-bottom: .7rem;
  margin-left: 30rem;
  background-color: black;
  color: aliceblue;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  
  
}