@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body,
html {
  margin: 0;
  padding: 0;
  display: grid;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #fde65e;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #fde02f;
  }

  nav{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 90px;
    background-color: #fff;
    box-shadow: 3px 3px 10px lightslategray;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10000;
    margin-right: 1rem;
    padding: 1rem;
    
  }
  
  .logo {
    flex: 1;
    font-size: 40px;
    padding: 20px;
    margin-left: 50px;
    font-family: Satisfy;
  }
  
  ul.menu {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    
  }
  
  .menu li {
    flex: 1;
    list-style-type: none;
    font-size: 16px;
    font-family: "Barlow Condensed";
    text-align: center;
    font-family: Satisfy;
    margin-right: .7rem;
  }
  
  .menu li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    
  }
  
  .menu li a:hover {
    color: rgb(8, 52, 84);
    text-decoration: underline;
  }

  .dropdown .btn{
background-color: #000;
border-radius: 1rem;
margin-right:.7rem ;

  }
  .dropdown-menu .btn{
    background-color: rgb(14, 15, 15);
    color: #fff;
    margin-top: .6rem;
    margin-right: 1rem;
}

*{
    padding:0;
margin: 0;
box-sizing: border-box;

color: black;

}
html{
    font-size: 62.5%;
}


.form-group{
    margin-bottom:30px;
}

main{
  max-width: 1500px;
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
main .card{
    width: 300px;
    flex: 1 1 210px;
    height: 510px;
    border: 1px solid lightgray;
    margin-top: 10px;
    border-radius: 1rem;
    display: flex;
    margin-left: 3rem;
    box-shadow: 3px 3px 10px lightslategray;

}
main .card .image{
height: 50%;
margin-bottom: 20px;

}
main .card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .3rem;

}

main .card .caption{
    padding-left: 1em;
    text-align: center;
    line-height: 3em;
    height: 50%;
    background-color: rgb(244, 236, 226);
    border-radius: .5rem;
    padding: .6rem;
}
main .card .caption p{
    font-size: 2rem;

}
main .card .caption .rate{
    display: flex;
    margin-top: 1rem;

}
.msg{
    text-decoration-line: underline;
    text-align: start;
}
main .card .caption .rate i{
    color: rgb(13, 70, 183);
    margin-left: 2px;
    margin-left: 15%;
}
main .card a{
    width: 50%;
}
main .card .add{
    border: 2px solid black;
    padding: .4rem;
   margin-top: .7rem;
    width: 60%;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: bold;
    position: relative;
    background-color: rgb(70, 84, 97);
    color: aliceblue;
}
main .card .add:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: black;
    transition: all .5s;
    margin: 0;

}
main .card .add:hover{
    background-color: rgb(7, 18, 40);
}
